{% extends 'base.html' %}
{% block content %}
    <div id="map_output">
        <table>
            {% for row in dungeon_map %}
                <tr>
                {% for tile in row %}
                    <td>{{ tile|safe }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <ul>
        <li><a href="{{ url_for('maps.refresh_dungeon') }}">Refresh</a>
        <li><a href="{{ url_for('maps.cave') }}">Cave Map</a>
        <li><a href="{{ url_for('maps.world') }}">World Map</a>
    </ul>
{% endblock %}