{% extends 'base.html' %}

{% block section_title %}
{% endblock %}

{% block content %}
<div id="welcome">
    <p>
        Welcome to Smartographer, your tile-based map generation companion!
        To get started, select one of the map styles
    <span class="wide">
        to the right.
    </span>
    <span class="tall">
        below.
    </span>
        You can use the refresh button to generate a new map of that type.
        Once you've found a map that you like, 
        feel free to log in, or register if you're a returning adventurer, 
        and save it to our map archive!
        (Please note: smartographer, in it's current state, is a proof of concept. 
        we cannot guarantee that user accounts and maps will not be deleted)
    </p>
</div>
{% endblock %}