*,
*::before,
*::after {
    box-sizing: border-box;
}
label {
    color: red;
}
body {
    background-color: black;
}
/* dsvbodysdf {
    font-size: 100%;
    background-color: black;
    background-image: url('assets/wood_grain.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; 
} */
#scroll {
    background-image: url('assets/map-scroll.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    position: fixed;
}
h1 {
    background-color: midnightblue;
    margin-top: 0px;
    max-width: 33vw;
    padding: .2vw;
    box-shadow: -0.6vw 0.6vw 0.8vw black;
    font-family: UnifrakturMaguntia, Tangerine, Garamond;
    font-size: 5vw;
    text-align: center;
    color: blanchedalmond;
    text-shadow: -0.25vw 0.25vw 0.3vw black;
    border: .5vw solid rgb(240, 205, 102);
    border-radius: 2em;
}
h2 {
    color: red;
}

table, tr, td {
    border: 0px;
    margin: 0px;
    padding: 0px;
    padding: 0.5px 0.5px 0px 0px;
    border-spacing: 0;
}
.tile {
    width: 0.5vw;
    height: 0.5vw;
    margin: 0%;
}
.black.tile {
    background-color: black;
}
.grey.tile{
    background-color: grey;
}
.green.tile {
    background-color: rgb(48, 89, 2);
}
.blue.tile{
    background-color: navy;
}
.grid {
    border: 1px solid black;
}
a:link, a:visited {
    background-color: midnightblue;
    color: blanchedalmond;
    padding: 1vw 2vw;
    border: 0.2vw solid rgb(240, 205, 102);
    border-radius: 2em;
    text-align: center;
    text-decoration: none;
}
a:hover, a:active {
    background-color: rgb(47, 47, 214);
}