 *,
*::before,
*::after {
    box-sizing: border-box;
}
.username {
    color: rgb(45, 22, 9);
    background-color: hsla(33, 61%, 80%, 0.589);
}
body {
    margin: 0%;
    padding: 0%;
    display: inline-grid;
    overflow: hidden;
    width: 100vw;
    height: 100vw;
    grid-template-columns: 90vw 10vw;
    grid-template-rows: 11vh 79vh 10vh;
    font-size: 100%;
    background-color: midnightblue;
    background: url(assets/old-map.jpg);
    grid-template-areas: 
        "header header-right"
        "main sidebar"
        "main sidebar";
}
header {
    grid-area: header;
    /*position: fixed;
    display: block;
    margin: auto;
    width: auto;
    height: inherit;
    box-sizing: border-box;
     grid-column: 1 / 2;
    grid-row: 1 / 2; 
    color: midnightblue;*/
    z-index: 5;
    border-bottom: 0.5vw solid black;
    box-shadow: -0.6vw 0.6vw 0.8vw black;
}
#load {
    display: block;
    margin: auto;
    position: fixed;
    right: 0%;
    top: 6vw;
}
.header-right {
    grid-area: header-right;
    /*position: fixed;
    display: block;
    margin: 0 auto;
    background-size: 100%;
    justify-items: stretch;
    align-items: stretch;
    right: 0;*/
    text-align: center;
    /*border-left: 0.3vw solid rgb(240, 205, 102);*/
}
#border-fill {
    position: relative;
    grid-area: header-right;
    left: 0;
    bottom: 0;
    height: .5vw;
    width: .5vw;
    background-color: black;
}
main {
    grid-area: main;
    position: relative;
    height: 100%;
    background: url(assets/wood_grain.jpg) center fixed;
    background-size: cover;
    /* background-image: url('assets/wood_grain.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;*/
}
.sidebar {
    grid-area: sidebar;
    display: block;
    border-left: 0.5vw solid black;
    box-shadow: -0.6vw 0.6vw 0.8vw black;
}
#map-scroll {
    background: url(assets/map-scroll.png);
    height: auto;
    width: auto;
}
#map {
    position: absolute;
    top: 50%;
    bottom: 50%;
    margin: -25% 0 0 20vw;
    z-index: 1;
    background-color: black;

}
#logo {
    position: fixed;
    display: inline;
    z-index: 5;
    top: 0vw;
    background-color: rgb(45, 22, 9);
    margin-top: 0px;
    max-width: 33vw;
    padding: .2vw;
    box-shadow: -0.6vw 0.6vw 0.8vw black;
    font-family: UnifrakturMaguntia, Tangerine, Garamond;
    font-size: 4vw;
    text-align: center;
    color: blanchedalmond;
    text-shadow: -0.25vw 0.25vw 0.3vw black;
    border: .4vw solid rgb(240, 205, 102);
    border-radius: 2em;
}
table, tr, td {
    border: 0px;
    margin: 0px;
    padding: 0px;
    padding: 0.5px 0.5px 0px 0px;
    border-spacing: 0;
}
.tile {
    width: 0.75vw;
    height: 0.75vw;
    margin: 0%;
    z-index: 1;
}
.black.tile {
    background-color: black;
}
.grey.tile{
    background-color: grey;
}
.green.tile {
    background-color: rgb(48, 89, 2);
}
.blue.tile{
    background-color: navy;
}
.map-lines {
    border: 1px solid black;
}
a {
    font-family: Benne;
    color: blanchedalmond;
    padding: .5vw;
    border: 0.3vw solid rgb(240, 205, 102);
    border-radius: 2em;
    text-align: center;
    text-decoration: none;
    box-shadow: -0.2vw 0.2vw 0.3vw black;
    margin: 1vw;
}
a:link, a:visited {
    background-color: rgb(45, 22, 9);
    display: block;
    margin: auto;
}
a:hover {
    /*background-color: rgb(47, 47, 214);*/
    transform: scale(1.1);
    background-color: rgb(45, 22, 9);
}
a:active {
    /*background-color: rgb(47, 47, 214);*/
    background-color: rgb(94, 49, 23);
}