body {
    font-size: 100%;
    background-color: midnightblue;
}

h1 {
    margin-top: 115px;
    font-family: Garamond;
    font-size: 3em;
    text-align: center;
    color: blanchedalmond;
    text-shadow: -2px 2px 3px black;
    border: 10px solid tan;
    border-radius: 2em;
}