body {
    font-size: 100%;
    background-color: slategrey;
}

h1 {
    background-color: midnightblue;
    margin: 70px 185px 50px;
    box-shadow: -5px 5px 8px black;
    font-family: UnifrakturMaguntia, "Spectral SC", Tangerine, Garamond;
    font-size: 4em;
    text-align: center;
    color: blanchedalmond;
    text-shadow: -2px 2px 5px black;
    border: 10px solid tan;
    border-radius: 2em;
}